{%extends 'main-store/base/baseStore.html' %}
{%block title%}Journal stock {%endblock%}
{%block content%}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <div class="d-flex align-items-center" style="padding-top: 50px;">
            <i class="fa-solid fa-box me-2 fa-lg"></i>
            <h4 class="mb-0">Stock</h4>


        </div>
    </div>
</div>

<!-- table element -->

<div class="row" style="padding-top: 30px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- card -->
        <div class="card border-0">
            <div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-5">

                </div>

                <div class="col-md-2 d-flex justify-content-end">
                    <a class="btn btn-secondary btn-sm" href="{%url 'stockPrint'%}"><i
                            class="fa-solid fa-print me-1 ms-1"></i></a>

                </div>
            </div>
            <button class="btn  btn-toggle align-items-center link-custom  collapsed" id="filter-toggle"
                data-bs-toggle="collapse" data-bs-target="#achat-collapse" aria-expanded="true">
                Filtres
            </button>
            <div class="collapse " id="achat-collapse">
                <div class="row" style="padding-top: 20px;">

                    <form method="get" style="display: inline;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_start_date">Produit:</label>
                                    {{ myFilter.form.designation_s }}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="id_start_date">Fournisseur:</label>
                                    {{ myFilter.form.fournisseur }}
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_start_date">Date début:</label>
                                    {{ myFilter.form.start_date }}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="id_start_date">Date fin:</label>
                                    {{ myFilter.form.end_date }}
                                </div>
                            </div>

                        </div>

                        <button class="btn btn-primary btn-block btn-sm" style="margin-top: 15px;"
                            type="submit">Appliquer</button>


                    </form>

                </div>
            </div>
        </div>

        <!-- card end -->
        <hr style="width: 100%;">
        <table class="table table-hover bg-white">
            <thead>
                <tr>


                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Fournisseurs</th>
                    <th>Dates d'achat</th>
                    <th>Prix d'achat</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>

                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>

                    <td class="col-md-1">{{stock.designation_s}}</td>
                    <td class="col-md-2">{{stock.qte_s}}</td>

                    <td class="col-md-3">
                        <table>
                            <tbody>
                                {% for achat in stock.achat.all %}
                                <tr>
                                    <td>{{ achat.fournisseur }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>

                    <td class="col-md-3">
                        <table>
                            <tbody>
                                {% for achat in stock.achat.all %}
                                <tr>
                                    <td>{{ achat.date_a}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>


                    <td class="col-md-1">{{stock.prix_achat}}</td>

                    <td class="col-md-1"><a class="btn btn-secondary btn-sm" href="{%url 'stockEdit' stock.num_s %}">
                            <i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td class="col-md-1"><a class="btn btn-danger btn-sm" href="{%url 'stockDelete' stock.num_s %}">
                            <i class="fa-solid fa-trash"></i>
                        </a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="col-md-1" style="font-weight: 600;">Total</td>

                    <td class="col-md-2"></td>
                    <td class="col-md-3"></td>
                    <td class="col-md-3"></td>
                    <td class="col-md-1" style="font-weight: 600;">{{ total_montant_total }}
                    </td>
                    <td class="col-md-1"></td>
                    <td class="col-md-1"></td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="col-md-1"></div>
</div>


{%endblock%}