{%extends 'main-store/base/baseStore.html' %}
{%block title%}Journal stock {%endblock%}
{%block content%}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <div class="d-flex align-items-center" style="padding-top: 50px;">
            <i class="fa-solid fa-user me-2 fa-lg" style="margin-top: px;"></i>
            <h4 class="mb-0">Stock</h4>


        </div>
    </div>
</div>

<!-- table element -->

<div class="row" style="padding-top: 30px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- card -->
        <div class="card border-0">
            <div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-5">
                    <form class="d-flex">
                        <input class="form-control me-2" name="q" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit"><i
                                class="fa-solid fa-magnifying-glass"></i></button>

                    </form>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <a class="btn btn-secondary btn-sm" href="#"><i class="fa-solid fa-print me-1 ms-1"></i></a>

                </div>
            </div>
        </div>

        <!-- card end -->
        <table class="table table-hover bg-white">
            <thead>
                <tr>


                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix d'achat</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>

                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>

                    <td class="col-md-1">{{stock.designation_s}}</td>
                    <td class="col-md-2">{{stock.qte_s}}</td>
                    <td class="col-md-2">{{stock.prix_achat}}</td>

                    <td class="col-md-1"><a class="btn btn-secondary btn-sm" href="#">
                            <i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td class="col-md-1"><a class="btn btn-danger btn-sm" href="#">
                            <i class="fa-solid fa-trash"></i>
                        </a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="col-md-1"></div>
</div>


{%endblock%}