{%extends 'main-store/base/baseStore.html' %}
{%block title%}Journal ventes {%endblock%}
{%block content%}
{%load crispy_forms_tags%}
{% load mathfilters %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <div class="d-flex align-items-center" style="padding-top: 50px;">
            <i class="fa-solid fa-cart-shopping me-2 fa-lg"></i>
            <h4 class="mb-0">Ventes</h4>


        </div>
    </div>
</div>

<!-- table element -->

<div class="row" style="padding-top: 30px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- card -->
        <div class="card border-0">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-secondary btn-sm" id="green-btn" href="{%url 'venteAdd'%}">
                        <i class="fa-solid fa-plus me-1"></i>Nouvelles ventes
                    </a>

                </div>
                <div class="col-md-8">

                </div>
                <div class="col-md-1 d-flex justify-content-end">
                    <a class="btn btn-secondary btn-sm" href="{%url 'ventePrint' %}"><i
                            class="fa-solid fa-print me-1 ms-1"></i></a>

                </div>
            </div>
            <button class="btn  btn-toggle align-items-center link-custom  collapsed" id="filter-toggle"
                data-bs-toggle="collapse" data-bs-target="#vente-collapse" aria-expanded="true">
                Filtres
            </button>
            <div class="collapse " id="vente-collapse">
                <div class="row" style="padding-top: 20px;">

                    <form method="get" style="display: inline;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_start_date">{{ myFilter.form.start_date.label_tag }}</label>
                                    {{ myFilter.form.start_date }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_end_date">{{ myFilter.form.end_date.label_tag }}</label>
                                    {{ myFilter.form.end_date }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_type_Paiement_A">Paiement:</label>
                                    {{ myFilter.form.type_Paiement_v }}
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="id_product_name">{{ myFilter.form.product_name.label_tag }}</label>
                                    {{ myFilter.form.product_name }}
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="id_fclient_name">Client:</label>
                                    {{ myFilter.form.client_name }}
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-primary btn-block btn-sm" style="margin-top: 15px;"
                            type="submit">Appliquer</button>


                    </form>

                </div>
            </div>
        </div>


        <hr style="width: 100%;">

        <!-- card end -->
        <table class="table table-hover bg-white">
            <thead>
                <tr>

                    <th>Numéro</th>
                    <th>Date</th>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Client</th>
                    <th>Paiement</th>
                    <th>Montant versé</th>
                    <th>Montant total</th>
                </tr>
            </thead>
            <tbody>
                {% for vente in ventes %}
                <tr>

                    <td class="col-md-1">{{vente.num_v}}</td>
                    <td class="col-md-1">{{vente.date_v}}</td>
                    <td class="col-md-2">{{vente.stock }}</td>
                    <td class="col-md-2">{{vente.qte_v}}</td>
                    <td class="col-md-2">{{vente.prix_unitaireVT}}</td>
                    <td class="col-md-2">{{vente.client }}</td>
                    <td class="col-md-1">{{vente.type_Paiement_v }}</td>
                    <td class="col-md-1">{{vente.montant_v }}</td>
                    <td class="col-md-1"> {% with total_amount=vente.qte_v|mul:vente.prix_unitaireVT %}
                        {{ total_amount }}
                        {% endwith %}
                    </td>
                    <td class="col-md-1"><a class="btn btn-secondary btn-sm" href="{%url 'venteEdit' vente.num_v %}">
                            <i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td class="col-md-1"><a class="btn btn-danger btn-sm" href="{%url 'venteDelete' vente.num_v %}">
                            <i class="fa-solid fa-trash"></i>
                        </a></td>
                </tr>

                {% endfor %}
                <tr>
                    <td class="col-md-1" style="font-weight: 600;">Total</td>
                    <td class="col-md-1"></td>
                    <td class="col-md-2"> </td>
                    <td class="col-md-2"></td>
                    <td class="col-md-2"></td>
                    <td class="col-md-2"></td>
                    <td class="col-md-1"></td>
                    <td class="col-md-1"></td>
                    <td class="col-md-1" style="font-weight: 600;">{{ total_montant_total }}
                    </td>
                    <td class="col-md-1"></td>
                    <td class="col-md-1"></td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="col-md-1"></div>
</div>


{%endblock%}