{%extends 'main-store/base/baseStore.html' %}
{%block title%}Ajouter fournisseurs {%endblock%}
{%load crispy_forms_tags%}
{%block content%}
<div class="row ">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <div>
            <div class="d-flex align-items-center" style="padding-top: 50px;">

                <i class="fa-solid fa-plus me-1"></i>
                <h5 class="mb-0">Ajouter un nouveau fournisseur</h5>

            </div>
            <hr>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 5px;">
    <div class="col-md-1"></div>
    <div class="col-md-4">
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row" style="padding-top: 30px;">

    <div class="col-md-1"></div>
    <div class="col-md-4">
        <form method="POST">
            {%csrf_token%}
            {{form|crispy}}
            <a class="btn btn-secondary " id="grey-btn" href="{%url 'achatAdd' %}">
                Annuler </a></td>
            <input class="btn btn-success btn-block" type="submit" id="green-btn" value="valider">

        </form>
    </div>
    <div class="col-md-7"></div>

    {%endblock%}