<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%} {%endblock%}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="/static/customStore.css">
  <link rel="stylesheet" href="/static/font-6/css/all.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


</head>

<body>
  </head>

  <body>
    <div class="main-container d-flex">
      <div class="sidebar-container">
        <div class="min-vh-100  p-3  bg-green" style="width: 300px;">
          <div
            class="d-flex align-items-center justify-content-center pb-3 mb-3 text-decoration-none border-4 border-bottom custom-border">
            <span class="fs-3 fw-semibold green">Magasin</span>
          </div>
          <ul class="list-unstyled ps-0">
            <li class="mb-2">
              <button class="btn  btn-toggle align-items-center link-custom  collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="true">
                Achat
              </button>
              <div class="collapse " id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="ms-4  border-bottom   p-1"><a href="{% url 'achatAdd'  %}" class=" link-custom ">Nouveau
                      achat</a></li>
                  <li class="ms-4  border-bottom  p-1"><a href="{% url 'achatList'  %}" class="link-custom ">Journal</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mb-2">
              <button class="btn btn-toggle link-custom align-items-center  collapsed" data-bs-toggle="collapse"
                data-bs-target="#Vente-collapse" aria-expanded="false">
                Vente
              </button>
              <div class="collapse" id="Vente-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="ms-4 border-bottom  p-1"><a href="{%url 'venteAdd'%}" class="link-custom ">Nouvelle
                      vente</a></li>
                  <li class="ms-4 border-bottom  p-1"><a href="{%url 'venteList'%}" class="link-custom ">Journal</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mb-2">
              <button class="btn btn-toggle link-custom align-items-center  collapsed" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                Transfert
              </button>
              <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="ms-4 border-bottom  p-1"><a href="#" class="link-custom ">Nouveau transfert</a></li>
                  <li class="ms-4 border-bottom  p-1"><a href="#" class="link-custom ">Journal</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-2">
              <button class="btn btn-toggle link-custom align-items-center  collapsed" data-bs-toggle="collapse"
                data-bs-target="#stock-collapse" aria-expanded="false">
                Stock
              </button>
              <div class="collapse" id="stock-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                  <li class="ms-4 border-bottom  p-1"><a href="{% url 'stockList'  %}" class="link-custom ">Journal</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mb-2">
              <button class="btn btn-toggle link-custom align-items-center  collapsed" data-bs-toggle="collapse"
                data-bs-target="#centre-collapse" aria-expanded="false">
                Centres
              </button>
              <div class="collapse" id="centre-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="ms-4 border-bottom  p-1"><a href="{% url 'dashboardCenter' 1 %}"
                      class="link-custom ">centre 1</a></li>
                  <li class="ms-4 border-bottom  p-1"><a href="{% url 'dashboardCenter' 2 %}"
                      class="link-custom ">centre 2</a></li>
                  <li class="ms-4 border-bottom  p-1"><a href="{% url 'dashboardCenter' 3 %}"
                      class="link-custom ">centre 3</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-2">
              <button class="btn btn-toggle link-custom align-items-center  collapsed" data-bs-toggle="collapse"
                data-bs-target="#clients-collapse" aria-expanded="false">
                Clients
              </button>
              <div class="collapse" id="clients-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="ms-4 border-bottom  p-1"><a href="{%url 'clientAdd' %}" class="link-custom ">Nouveau
                      client</a></li>
                  <li class="ms-4 border-bottom  p-1"><a href="{%url 'clientList' %}" class="link-custom ">Journal</a>
                  </li>
                  <li class="ms-4 border-bottom  p-1"><a href="#" class="link-custom ">paiement credit</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-2">
              <button class="btn btn-toggle link-custom align-items-center  collapsed" data-bs-toggle="collapse"
                data-bs-target="#fournisseurs-collapse" aria-expanded="false">
                Fournisseurs
              </button>
              <div class="collapse" id="fournisseurs-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="ms-4 border-bottom  p-1"><a href="{%url 'fournisseurAdd' %}" class="link-custom ">Nouveau
                      fournisseur</a></li>

                  <li class="ms-4 border-bottom  p-1"><a href="{%url 'fournisseurList' %}"
                      class="link-custom ">Journal</a></li>
                  <li class="ms-4 border-bottom  p-1"><a href="#" class="link-custom ">Réglements</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-2">
              <button class="btn btn-toggle link-custom align-items-center  collapsed" data-bs-toggle="collapse"
                data-bs-target="#produits-collapse" aria-expanded="false">
                Produits
              </button>
              <div class="collapse" id="produits-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="ms-4 border-bottom  p-1"><a href="{%url 'productAdd' %}" class="link-custom ">Nouveau
                      produit</a></li>
                  <li class="ms-4 border-bottom  p-1"><a href="{%url 'productList' %}" class="link-custom ">Journal</a>
                  </li>

                </ul>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <div class="collapse navbar-collapse" id="navbarNav" style=" margin-left: 850px;">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/admin">Admin</a>
              </li>

            </ul>
          </div>


        </nav>
        {%block content%} {%endblock%}
      </div>
    </div>


    {%block scripts%}
    {%endblock%}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>