{%extends 'main-store/base/baseStore.html' %}
{%block title%}Liste clients non réglés{%endblock%}
{%block content%}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <div class="d-flex align-items-center" style="padding-top: 50px;">
            <i class="fa-solid fa-plus  me-2" style="margin-top: 6px;"></i>
            <h4 class="mb-0">clients non réglés</h4>


        </div>
    </div>
</div>

<!-- table element -->

<div class="row" style="padding-top: 30px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- card -->
        <div class="card border-0">
            <div class="row justify-content-between">
                <div class="col-md-5 ml-2">
                    <form class="d-flex">
                        <input class="form-control me-2" name="q" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit"><i
                                class="fa-solid fa-magnifying-glass"></i></button>

                    </form>
                </div>
                <div class="col-md-2 d-flex justify-content-end mr-2">
                    <a class="btn btn-secondary btn-sm" href="{%url 'clientPrintNonSettled' %}"><i
                            class="fa-solid fa-print me-1 ms-1"></i></a>

                </div>
            </div>
        </div>

        <!-- card end -->
        <table class="table table-hover bg-white">
            <thead>
                <tr>

                    <th>Code</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>credit</th>
                    <th>Regler</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>

                    <td class="col-md-1">{{client.code_cl}}</td>
                    <td class="col-md-2">{{client.nom_cl}}</td>
                    <td class="col-md-2">{{client.prenom_cl }}</td>
                    <td class="col-md-2">{{client.adresse_cl }}</td>
                    <td class="col-md-2">{{client.telephone_cl}}</td>
                    <td class="col-md-1">{{client.credit }}</td>
                    <td class="col-md-1">
                        <a class="btn btn-danger btn-sm"
                            href="{%url 'clientSettle' client.code_cl %}">
                            <i class="fa-solid fa-money-check-dollar"></i>
                        </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="col-md-1"></div>
</div>


{%endblock%}